extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/header2.pug

block main
    .main-container
        +head()
    .container.my-3(id="container")
        .row
            .col-12
                +box-head(pageTitle)
        .row
            each topic in topics
                .col-sm-3.mb-3
                    div(class="card")
                        img(src=topic.avatar)
                        div(class="card-body")
                            h5(class="card-title") #{topic.title}
                            p(class="card-text") #{topic.description}
                            a(href=`/songs/${topic.slug}` class="btn btn-success") Xem chi tiết