footer.footer
  .containerFooter
    .item1
      ul.logo-list
        li.logo-item
          img.logo(src='/images/spo-logo.png', alt='Spotify Logo')
    .item2
      ul.menu-list
        li.menu-item.first Company
        li.menu-item
          a(href='#') About
        li.menu-item
          a(href='#') About
        li.menu-item
          a(href='#') For the record
    .item3
      ul.menu-list
        li.menu-item.first Communities
        li.menu-item
          a(href='#') For Artists
        li.menu-item
          a(href='#') Developers
        li.menu-item
          a(href='#') Advertising
        li.menu-item
          a(href='#') Investors
        li.menu-item
          a(href='#') Vendors
    .item4
      ul.menu-list
        li.menu-item.first Useful Links
        li.menu-item
          a(href='#') Support
        li.menu-item
          a(href='#') Web Player
        li.menu-item
          a(href='#') Free Mobile App
        li.menu-item
          a(href='#') Car Thing
    .item5
      button.social-button
        ul.social-media-list
          li.social-media-item
            i.fa-brands.fa-instagram
          li.social-media-item
            i.fa-brands.fa-twitter
          li.social-media-item
            i.fa-brands.fa-facebook


  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")