.body {
    background-color: rgb(30, 29, 29);
}
.container{
    display: inline-block;
    margin-left:250px;
}
.song-item .inner-content .inner-heart {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    cursor: pointer;
}

.song-item .inner-content .inner-singer {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    cursor: pointer;
    color: white;
}
.song-item .inner-content .inner-time {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    cursor: pointer;
    color: white;
}

.song-item .inner-content .inner-heart.active {
    color: #b90000;
}

.song-item .inner-content .inner-heart.active i {
    font-weight: 900;
}