* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.topbar {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20 0;
}

.topbar ul {
    list-style: none;
    display: flex;
}

.topbar ul li {
    margin: 0 15px;
}

.topbar ul li a {
    text-decoration: none;
    color: #b3b3b3;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
}

.topbar ul li a:hover,
.topbar ul li a:active,
.topbar ul li a:focus {
    color: #fff;
}

.topbar button {
    background-color: #1db954;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.topbar button:hover,
.topbar button:active,
.topbar button:focus {
    background-color: #1ed760;
}

.topbar {
    position: relative;
}

.topbar .logo {
    position: absolute;
    left: 15%;
    transform: translateX(-50%) translateY(-10%);
}

.topbar .logo img {
    width: 120px;
}


.topbar .rounded-image {
    border-radius: 50%;
}
.topbar .topbar1{
    margin-top:10px;
}

.middlebar{
    background-color: #B09CC5;
    padding: 80px 100px;
    text-align: center;
}

.container {
    margin: 35px; /* Add spacing around the container */
}

.heading {
    font-family: inherit;
    vertical-align: middle;
    margin: 0; /* Remove default margin for headings */
    font-size:2.5em;
}

/* Thiết lập kiểu cho nút */
.spaced-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #ffffff; /* Màu nền của nút */
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hiệu ứng hover */
.spaced-button:hover {
    background-color: #000000; /* Màu nền khi hover */
    transform: scale(1.05); /* Phóng to nút khi hover */
}

/* Xóa dấu gạch dưới khi click */
.spaced-button:active, .spaced-button:focus {
    text-decoration: none;
    outline: none;
}


.footer-text {
    margin-top: 20px; /* Add spacing above the footer text */
    font-size: 0.6em;
    line-height: 1.5
}

.spaced-button {
    font-size: 1em;
    border: 15px solid transparent;
    padding: 0 10;
    border-radius: 30px;
    color: #ffffff;
    background-color: #000;
    cursor: pointer;
    font: inherit;
    display: inline-block;
    transition: color 0.3s ease; /* Adding a color transition for the hover effect */
}

.spaced-button:hover {
    color: #ffffff; /* Change to the desired color on hover */
}
.header{
    vertical-align: middle;
    margin: 20; /* Remove default margin for headings */
    padding: 40;
    font-size:1.5em;
    text-align: center;
}

.confit {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.confit li {
    width: 23%; /* Điều chỉnh chiều rộng của mỗi phần tử li */
    margin-bottom: 20px; /* Khoảng cách giữa các phần tử li */
    text-align: center; /* Căn giữa nội dung trong li */
}

.confit img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Bo tròn góc hình ảnh */
}

.confit p.spaced-text {
    margin: 10px 0;
}
.spaced-textb{
    padding-top: 40px;
    font-weight: bold;
    font-size: 1.2em;
}
.spaced-text{
    padding-top: 10px;
    font-size: 1.0em;
}

.faq-section {
    /* margin: 20px auto; */
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul.info {
    list-style-type: none;
    padding: 20;
    margin: 50px;
    cursor: pointer;
}
.a{
    margin-bottom: 20px;
    font-size: 2.1em;
    text-align: center;
    vertical-align: middle;
}
.b{
    margin-bottom: 10px;
    font-weight: 400;
    font-size:  1.6em ;
    text-align: center;
    vertical-align: middle;
}

/* style.css */

.abc {
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    margin-top: 25px;
    padding: 25px 0 25px 20px;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    font-weight: 550;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.abc.clicked{
    display: inline-block;
    position: relative;
    width: 100%;
}

.abc:hover {
    background-color: #f0f0f0; /* Màu nền khác hơn khi hover */
}

.abc.clicked .additional-info {
    display: block; /* Hiển thị additional-info khi .abc có lớp clicked */
}

.abc i {
    margin-right : 30px;
}

.abc.clicked i {
    position: absolute;
    right: 0;
}

#up{
    display: none;
}

.additional-info {
    display: none;
    margin-top: 25px;
    margin-right:25px;
    font-family: 'Arial', sans-serif; 
    font-size: 0.9em; 
    font-weight: 400; 
    color: #555; 
    transition: background-color 0.3s;
    text-decoration: none;
    font-weight: 520;
}

.containerFooter {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    width: 100%;
    padding: 80px;
}
.logo-item{
    list-style: none;
}
.logo {
    width: 120px;
    height: 80px;
    margin-left:30px;
}

.menu-list,
.social-media-list {
    list-style: none;
}

.first {
    color: rgb(182, 177, 177);
    font-size: 16px;
}

.menu-item a {
    color: white;
    font-size: 13px;
    text-decoration: none;
}

.menu-item a:hover {
    color: rgb(2, 251, 2);
}

.item5 img {
    width: 40px;
}

.social-media-list li {
    display: inline-block;
}
.social-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.social-media-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.social-media-item {
    transition: transform 0.3s ease-in-out;
    margin : 10px;
    border-radius: 50%;
    padding: 10px;
    background-color: #797979;
}

.social-media-item i {
    font-size: 24px;
    color: #333; /* Màu sắc mặc định */
}

.social-media-item:hover {
    transform: scale(1.2); /* Kích thước lớn hơn khi hover */
}

/* Thêm màu sắc khi hover */
.social-media-item:hover i.fa-instagram {
    color: #e4405f; /* Màu sắc Instagram */
}

.social-media-item:hover i.fa-twitter {
    color: #1da1f2; /* Màu sắc Twitter */
}

.social-media-item:hover i.fa-facebook {
    color: #1877f2; /* Màu sắc Facebook */
}


@media only screen and (max-width: 700px) {
    .item5 img {
        width: 30px;
    }

    .logo {
        width: 40px;
        height: 20px;
    }

    .first,
    .menu-item a {
        font-size: 10px;
    }
}


.middlebar-verfication{
    background-color: #B09CC5;
    padding: 50px 80px;
    text-align:left;
}

.container-verfication {
    margin: 0 0 0 250; /* Add spacing around the container */
}

.heading-verfication {
    font-family: inherit;
    vertical-align: left;
    margin: 0 0 20 250; /* Remove default margin for headings */
    font-size:1.5em;
}

.container-verification h2 {
    font-family: inherit;
    margin-bottom: 10px;
}

.container-verification p {
    margin-bottom: 10px;
}

.container-verfication a {
    color: #000000; 
    display: inline-block;
}

.container-verification a:hover {
    text-decoration: none; /* Add underline on hover for the link */
}
.p-verfication{
    margin-top: 5px;
}
.section2-verfication{
    padding: 24px;
    background-color: #F8F8F8;
    border: 1px solid #F3F3F3;
    border-radius: 8px;
    text-align: center;
}
.section1-verfication{
    padding: 32px 24px 24px;
    width: 90%;
    max-width: 800px;
    margin: 0px auto;
}
.span-verfication{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    color: inherit;
}
.VerificationBySheerIdCard__SheerIdLogoWrapper{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 8px;
}
.sheerIdCard-verfication{
    width: 76px;
    height: 18px;
    display: block;
    margin-left: -70px;
}
.buttonPrimary{
    text-decoration: none;
    width: unset;
}
.ButtonGroup-sc-3dd1b7ad-0.bMTILn{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 48px;
}

.ButtonInner {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    background-color: var(--background-base, #B09CC5);
    color: var(--text-base, #000000);
    display: flex;
    border-radius: 9999px;
    font-size: inherit;
    min-height: var(--encore-control-size-base, 48px); /* Change min-block-size to min-height */
    align-items: center;
    justify-content: center;
    padding: var(--encore-spacing-tighter-2, 8px) var(--encore-spacing-looser-2, 32px);
    transition:  width .5s ease, height .5s ease,     background-color 0.5s .5s ease;
    &:hover {
        width: 100px;
        height: 50px;
        background-color: #a190b4;
    }
}

.ot-sdk-container{
    width: 100%;
    position: fixed;
    z-index: 2147483645;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: opacity 0.5s ease; 
    opacity: 1;
}
.ot-sdk-container-border{
    border: 1px solid #000 ;
    background-color: #000;
}
.ot-sdk-container-hidden {
    opacity: 0; /* Khi thêm class 'ot-sdk-container-hidden', phần tử sẽ mất đi từ từ */
    pointer-events: none; /* Ngăn chặn sự kiện click khi phần tử đã ẩn */
}

.ot-sdk-row{
    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
    margin: 0;
    max-width: none;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#onetrust-group-container.ot-sdk-eight.ot-sdk-columns.ot-sdk-eleven{
    width: 55%;
    margin: 25 15 15 20;
}
#onetrust-policy{
    margin-left: 2em;
    font-size: 0.9em;
}

#onetrust-policy-text{
    color:#000000;
}


#onetrust-close-btn-container{
    top: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    right: 0;
}
.onetrust-close-btn-handler{
    background-color: #F8F8F8;
    width: 44px;
    height: 44px;
    background-size: 12px;
    border: none;
    position: relative;
    margin: auto;
    padding: 0;
}