mixin menu()
    <ul id="menu">
        .inner-general 
            <li>Account</li>
            <i class="fa-solid fa-up-right-from-square"></i>
        .inner-general 
            <li>Profile</li>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <li>Upgrade to Premium</li>
        <li style="border-bottom: 0.1px solid #ddd;">Settings</li>
        <li>
            a(href="/user/logout") Log out
        </li>
    </ul> 
